@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body{
  font-family: "Open Sans", sans-serif;
}
#nav-head, h1{
  font-family: "Montserrat", serif;
}

h1{
  border-bottom: 1px dashed #666;
}

img{
  width: 100%;
}

i.down{
  border: solid #666;
  border-width: 0 2px 2px 0;
  margin: 0 3px 0 3px;
  display: inline-block;
  padding: 2px;
	transform: rotate(45deg) translateY(-3px);
  -webkit-transform: rotate(45deg) translateY(-3px);
}

nav{
  position: absolute;
  left:-232px;
  width: 200px;
  text-align: right;
  border-right: 2px solid #666;
  padding-bottom: 16px;
}

#nav-head{
  font-size: 140%;
  padding: 4px;
  background-color: #ddd;
  margin-bottom: 8px;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav>ul{
  padding-right: 8px;
}

nav>ul span{
  visibility: hidden;
}
nav a, nav>ul span{
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

nav a:hover, nav>ul span:hover{
  color: black;
}

main{
  position: relative;
  margin: auto;
  max-width: 700px;
}


@media only screen and (max-width: 1199px) {
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border: none;
    background-color: #eee;
    padding-bottom: 2px;
  }
  #nav-head{
    margin-bottom: 4px;
    padding-right: 8px;
  }
  #page-body{
    margin-top: 40px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  nav>ul{
    display: inline-block;
  }
  
  nav>ul span{
    visibility: visible;
  }
  nav>ul ul{
    position: absolute;
    right: 0;
    width: 200px;
    background-color: #eee;
    display: none;
  }
  nav>ul ul.shown{
    display: block;
  }
  nav>ul ul>li{
    padding: 8px;
  }
}
