<html>
  <head>
    <!-- favicon nonsense -->
    <link rel="apple-touch-icon" sizes="180x180" href="/as-i-do/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/as-i-do/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/as-i-do/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/as-i-do/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/as-i-do/static/icons/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="/as-i-do/static/icons/favicon.ico">
    <!-- meta nonsense -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-config" content="/as-i-do/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#dddddd">

    <!-- actual header stuff -->
    <title>{% block title %}As I Do ~{% endblock %}</title>
    <link rel="stylesheet" href="{{base_url}}static/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
  </head>
  <body>
		<main>
		{% include 'sidebar.html' %}
		<div id="page-body">
			{% block body %}
      {% endblock %}
		</div>
		</main>
    <script src="{{base_url}}static/navbar.js"></script>
    {% block scripts %}
    {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/rust.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
