<nav>
  <div id="nav-head">
    As I Do
  </div>
  {% for page in pages %}
    <ul>
      <li>
        <a href="{{page.url}}">{{page.meta.title}}</a>
      </li>
    </ul>
  {% endfor %}
  <ul>
    <li>
      <span onclick="toggleDropdown()">Posts<i class="down"></i></span>
      <ul id="nav-posts">
        {% for post in posts %}
          <li>
            <a href="{{post.url}}">{{post.meta.title}}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
